<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lemon.usercenter.mapper.CommentsMapper">

    <resultMap id="BaseResultMap" type="com.lemon.usercenter.model.domain.Comments">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="comGroup" column="comGroup" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="note" column="note" jdbcType="VARCHAR"/>
            <result property="userid" column="userid" jdbcType="VARCHAR"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="INTEGER"/>
            <result property="keyWord" column="keyWord" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,content,comGroup,
        status,note,userid,
        createTime,updateTime,isDelete,
        keyWord
    </sql>
</mapper>
