<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lemon.usercenter.mapper.DevicesMapper">

    <resultMap id="BaseResultMap" type="com.lemon.usercenter.model.domain.Devices">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="userid" column="userid" jdbcType="VARCHAR"/>
            <result property="deviceName" column="deviceName" jdbcType="VARCHAR"/>
            <result property="deviceModel" column="deviceModel" jdbcType="VARCHAR"/>
            <result property="deviceGroup" column="deviceGroup" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,userid,deviceName,
        deviceModel,deviceGroup,status,
        createTime,isDelete
    </sql>
</mapper>
