<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lemon.usercenter.mapper.HistorylogMapper">

    <resultMap id="BaseResultMap" type="com.lemon.usercenter.model.domain.Historylog">
            <result property="userid" column="userid" jdbcType="VARCHAR"/>
            <result property="ip" column="ip" jdbcType="VARCHAR"/>
            <result property="address" column="address" jdbcType="VARCHAR"/>
            <result property="loginTime" column="loginTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        userid,ip,address,
        loginTime
    </sql>
</mapper>
